*{
    box-sizing: border-box;
}

body{
    background-color: lightgray;
    margin: 0;
}


.container{
    max-width: 1400px;
}

header{
    height: 80px;
    background-color: white;
    padding: 10px;

}

header .logo{
    height: 60px;
    line-height: 60px;
    display: inline;
    margin-left: 10px;
}

header .text-logo{
    color: black;
    display: inline;

}

header .logo,
header .text-logo{
    vertical-align: middle;
}
