*{
    box-sizing: border-box;
    margin: auto;
}

body{
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;
}


.container{
    max-width: 1400px;
}

header{
    height: 80px;
    background-color: white;
    padding: 10px;

}

header .logo{
    height: 60px;
    line-height: 60px;
    display: inline;
    margin-left: 60px;
}

header .text-logo{
    color: black;
    display: inline;

}

header .logo,
header .text-logo{
    vertical-align: middle;
}

.main{
    width: 800px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    margin: 30px auto;
}

.nav{
    width: 100%;
    border-bottom: 1px solid lightgray;
    margin: 10px;
}

.nav .button-sx{
    background-color: #47adf1;
    border-radius: 30px;
    color: white;
    display: inline-block;
    width: 100px;
    text-align: center;
    margin: 20px;
    height: 30px;
    line-height: 30px;
}

.nav .button-dx{
    border-radius: 30px;
    border: 1px solid lightgray;
    display: inline-block;
    width: 100px;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

ul{
    margin: 0;
    height: 30px;
}

.ul{
    margin: 0;
background-color: red;
}

section{
    margin: 20px;
}

.title {
    font-weight: 800;
    font-size: 20px;
    display: inline;
    margin: 20px 0 0 20px;
}

ul h3{
    display: inline;
    vertical-align: middle;
}

ul h5{
    display: inline;
    vertical-align: middle;
    margin-left: 10px;
}

.true{ 
    border-radius: 50%;
    border: 1px green solid;
    font-size: small;
    color: green;
}

.false{ 
    border-radius: 50%;
    border: 1px red solid;
    font-size: small;
    color: red;
}

ul .butt-blu,
ul .butt-violet,
ul .butt-green,
ul .butt-orange,
ul .butt-rose,
ul .butt-yellow{
    border-radius: 20px;
    color: white;
    display: inline-block;
    width: 50px;
    text-align: center;
    margin: 5px;
    height: 20px;
    line-height: 20px;
    font-size: 8px;
    vertical-align: middle;
}

ul .butt-blu{
    background-color: #47adf1;
}

ul .butt-violet{
    background-color: #9c72e4;
}

ul .butt-green{
    background-color: #64c0a9;
}

ul .butt-orange{
    background-color: #f29e33;
}

ul .butt-rose{
    background-color: #d863a1;
}

ul .butt-yellow{
    background-color: #b0c926;
}




